@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui;
  user-select: none;
}

:root:has( :is(.modal-open,
    .modal:target,
    .modal-toggle:checked + .modal,
    .modal[open])) {
  scrollbar-gutter: unset;
}

html:has(.drawer-toggle:checked) {
  scrollbar-gutter: unset;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
}

@keyframes drawAndFill {
  0% {
    fill: transparent;
    stroke-dashoffset: 2500;
  }

  90% {
    fill: transparent;
    stroke-dashoffset: 0;
  }

  100% {
    fill: white;
    stroke: rgb(103, 58, 184);
    stroke-dashoffset: 0;
  }
}

.logo-animation {
  stroke: white;
  stroke-width: 3;
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: drawAndFill 3s linear forwards;
}

.logo-animation-hover {
  transition: transform 0.2s ease-in-out, filter 1s ease-in;
}

.logo-animation-hover:hover {
  transform: scale(1.1);
  filter: drop-shadow(4px 4px 1px #673ab8);
}

.prose {
  max-width: none;
}

.video-thumbnail::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  filter: blur(20px) saturate(200%);
  z-index: -1;
}